*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #fcfcfc;
}

h1{
    color: #01060a;
}
h2{
    color: #003B73; 
}
h3{
    color: #2E8B57;;
}

a:link {
  color:#003B73;
  text-decoration:none;
}

a:visited {
  color:#003B73;
}

a:hover {
  color: rgb(45, 115, 255);
}

a:active {
  color: rgb(251, 11, 11);
}

header{
    margin: 0;
    padding: 0;
    background-color: #003B73;
    display:flex;
    
    
}
#copyright{
  background-color: #003B73;
  color: white;
  margin-left: 20px;
}

#fin{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #003B73;
    display: flex;
    align-items: center;
    justify-content: center;
    


}
#logoLycee{
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

#logotel{
    width:25px;
    margin-right: 10px;
}

#conteneur {
    display: flex;
    justify-content: space-between;
    

}

#gauche {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
    border:1px solid ;
    border-radius: 10px;
    background-color: rgba(248, 235, 217, 0.466);
}

#droite {
  margin-top: 30px;
    width: 60%;
    margin-right: 50px;
}

#contact{
  padding: 15px;
  border:1px solid ;
  border-radius: 10px;
  margin: 10px;
}
#competences{
  padding: 15px;
  border:1px solid ;
  border-radius: 10px;
  margin: 10px;
}

#interet{
  padding: 15px;
  border:1px solid ;
  border-radius: 10px;
  margin: 10px;
}

#profil{
  margin-top: 20px;
}